---
title:
layout: default
---

{% if data %}{% assign site.data = data %}{% endif %}
{% assign info = site.data.info %}
{% assign description = info.description %}


<div class="info_left">
    {% for image in info.images %}
    <div class="info_image media_{{ image.size }}">
        <img src="{{ image.url }}" alt="{{ image.alt }}" />
    </div>
    {% endfor %}
</div>

<div class="info_right">
    <div class="description">
        {{ description.text | replace: "[email]", site.data.company.email | markdownify }}
    </div>
    {% if info.body %}
    <div class="row">
        {{ info.body | markdownify }}
    </div>
    {% endif %}
    <div class="row policies">
        <a href="/privacy">Privacy</a>
        <span> · </span>
        <a href="/impressum">Impressum</a>
    </div>
</div>