---
title:
layout: default
---

{% if data %}{% assign site.data = data %}{% endif %}

{% if site.works.size > 0 %}
<ul>
  {% assign first_listing_image = nil %}
  {% assign ordered_works = site.data.ordered_works | default: site.works %}
  {% for work in ordered_works %}
  {% unless work.draft %}
  <li hero-url="{{ work.listing_image | default: '-' }}"><a href="{{ work.url }}">
    <div class="img" style="background-image: url('{{ work.listing_image | default: '-' }}')"></div>
    <p class="title">{{ work.title }}</p>
  </a></li>
    {% if first_listing_image == nil and work.listing_image %}{% assign first_listing_image = work.listing_image %}{% endif %}
  {% endunless %}
  {% endfor %}
</ul>
<div id="works-preview"></div>

<style>
  #works-preview {
    background-image: url('{% if first_listing_image %}{{ first_listing_image | relative_url }}{% endif %}');
  }
</style>

<script>
  // Change Image Preview
  const works_list = document.querySelectorAll('#main ul li');
  works_list.forEach(function(item) {
    item.addEventListener('mouseover', function() {
      const image = this.getAttribute('hero-url');
      if (image && image !== '-') {
        document.getElementById('works-preview').style.backgroundImage = `url('${image}')`;
        works_list.forEach(x => x.classList.remove('active'));
        item.classList.add('active');
      }
    });
  });
</script>
{% else %}
<p>No works yet.</p>
{% endif %}