---
layout: default
---

<div class="container">
  <a href="/" class="back-link">Back to the homepage</a>
</div>

<article class="container content">
  {{ content }}
</article>

<div class="container">
  <a href="/" class="back-link">Back to the homepage</a>
</div>
